body {
    background: url("img2/bg-body.jpg");
    min-width: 1110px;
}

.header {
    width: 1090px;
    border: solid 1px #DCDCDC;
    height: 81px;
    background-color: white;
    margin: 124px auto 0;
}

.wrap{
    width: 1090px;
    border: solid 1px #dcdcdc;
    height: 100%;
    background-color: white;
    margin: 20px auto;
}

.logo {
    margin: 20px 10px;
    float: left;
}

.social-icons {
    float: left;
    margin: 7px 3px;
}

.social-icons ul {
    list-style: none;
}

.icons-list li {
    background: url("img2/social.png") no-repeat;
    display: inline-block;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.icons-list .fb-icon {
    background-position: 0 -66px;
}

.icons-list .vk-icon {
    background-position: 0 -462px;
}

.icons-list .tw-icon {
    background-position: 0 -330px;
}

.icons-list .wi-fi {
    background-position: 0 -198px;
}

.icons-list .fb-icon:hover {
    background: url("img2/social.png") no-repeat;
}

.icons-list .vk-icon:hover {
    background-position: 0 -397px;
}

.icons-list .tw-icon:hover {
    background-position: 0 -265px;
}

.icons-list .wi-fi:hover {
    background-position: 0 -131px;
}

.header-advertisement {
    float: left;
    margin-top: 20px;
    margin-left: 52px;
}

.search {
    float: left;
    vertical-align: middle;
    margin: 17px 72px;
}

.input-search-form {
    display: block;
    border: none;
    position: absolute;
    height: 21px;
    border-radius: 13px;
    width: 193px;
    background-color: #ececec;
}

.input-form a {
    color: #c1bfbf;
    font-size: 15px;
    position: relative;
    display: block;
    left: 171px;
    top: 4px;
}

.register-block {
    color: blue;
    float: right;
    margin: 20px 10px;
}

.enter-list {
    font-size: 11px;
    font-family: Arial sans-serif;
    list-style: none;
    margin: 3px 10px;
}

.enter-list li {
    font-family: Arial, sans-serif;
    font-size: 11px;
    display: inline-block;
    padding-left: 12px;
    border-left: 1px solid #267cb9;
    line-height: 12px;
    margin-left: 8px;
}

.enter-list li:first-child {
    border-left: none;
    padding-left: 0;
}

.register-block {
    font-size: 11px;
    font-family: Arial, sans-serif;
}

.register-block a {
    color: #267cb9;
}

.register-block a:hover {
    text-decoration: none;
}

.navigation {
    height: 32px;
    background-color: #000;
    color: #fff;
    border-bottom: 3px solid #188a19;
}

.navigation > ul {
    padding-left: 10px;
    padding-right: 19px;
    margin: 0;
    position: relative;
}

.navigation > ul > li {
    float: left;
    list-style-type: none;
}

.navigation-link {
    color: white;
    text-decoration: none;
    display: block;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
    font-family: 'PFDinBold', Arial, sans-serif;;
    letter-spacing: 1px;
    background: url("img2/nav-line.png") no-repeat right 11px;
    padding: 0 22px 0 10px;
}

.navigation-link:hover {
    color: #32CD32;
}
.isport-logo{
    padding: 0;
    display: block;
    position: absolute;
    background: url("img2/isport-logo.png") no-repeat;
    width: 182px;
    height: 32px;
    right: 0;
    top: 0;
}

.navigation > ul > li:first-child {
    margin-left: -8px;
}

.navigation a:active {
    color: #32CD32;
}

.clear {
    clear: both;
}

.side-bar {
    float: left;
    font: 12px/20px 'PFDinRegular', Arial, sans-serif;
    width: 110px;
    letter-spacing: .7px;
    margin-bottom: 10px;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    display: block;
    text-decoration: none;
    border: 1px solid #DCDCDC;
    width: 94px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    padding: 8px 7px;
    line-height: 16px;
    background: #fdfdfd;
    letter-spacing: .7px;
    color: black;
    margin-left: -30px;
    margin-top: -2px;
}
.menu-separator{
    height: 10px;
    border: none;
    padding: 0;
}

.menu li a:hover {
    color: #32CD32;
    text-decoration: underline;
}

.club-icons {
    margin: 10px 20px;
}

.club-icons a {
    padding: 10px;
}

.main {
    float: left;
    width: 950px;
    padding-bottom: 40px;
    position: relative;
}
.main-left{
    width: 675px;
    float: left;
}
.col-left{
    width: 350px;
    float: left;
}
.main-content{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
}
.main-photo {
    background: url("img2/photo1.jpg") center no-repeat;
    width: 350px;
    height: 250px;
    color: #ccc;
    font-size: 11px;
    margin-left: 20px;
}

.main-photo-p {
    width: 100%;
    height: 90%;
}

.main-p {
    opacity: 0.7;
    width: 100%;
    height: 10%;
    background-color: #000;
    text-align: center;
    line-height: 20px;
}

.main-news-current{
    width: 330px;
    height: 100px;
    text-decoration: none;
    background: #020202;
    color: white;
    border-bottom: 0;
    padding: 7px 10px 12px;
    margin-left: 20px;

}
.main-news-current h2 {
    color: white;
    font-family:'PFDinBold', Arial, sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    margin: 0;
}

.main-news-current p {
    color: #a9a9a9;
    font-family: Arial sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

.main-news{
    width: 350px;
    height: 75px;
    border-bottom: 1px solid black;
    margin-left: 20px;
}

.main-news h2 {
    font-family: 'PFDinBold', Arial, sans-serif;;
    font-size: 19px;
    margin: 10px;
    color: #2f3033;
}
.main-news-lower {
    height: 55px;
}
.col-right{
    width: 270px;
    float: right;
    margin: -10px 20px;
}
.col-right h2{
    color: #1e8618;
    display: block;
    font: 15px/20px 'PFDinBold', Arial, sans-serif;
    letter-spacing: 0.6px;
    border-bottom: 2px solid  #1e8618;;
    padding: 0 0 5px;
    font-weight: bold;
}
.wifi-icon{
    display: block;
    width: 9px;
    height: 9px;
    background: url("img2/wifi-icon.png") no-repeat;
    float: right;
    margin-top: -35px;
}
.col-right li{
    font-size: 13px;
    padding: 13px 0 13px;
    border-bottom: 1px dotted #cecece;
    line-height: 16px;
    color: #333;
    list-style: none;
    font-family: 'PFDinBold', Arial, sans-serif;
}
.col-right a{
    text-decoration: none;
    color: #333;
}
.col-right a:hover{
    text-decoration: underline;
}
.rightnews-list{
    margin: -10px -40px;
}
.separator{
    height: 30px;
    clear: both;
}
.banner{
    width: 650px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
}
.author-materials h2{
    font: 14px/20px 'PFDinBold', Arial, sans-serif;
    letter-spacing: 0.6px;
    border-bottom: 2px solid #000;
    padding: 0 0 5px;
    margin-left: 20px;
    width: 94%;
    font-weight: bold;
}
.am-wrap{
    max-width: 650px;
    margin: 0px 20px;
    position: relative;
    padding: 0;
}
.am-controls-direction a{
    width: 25px;
    height: 25px;
    position: absolute;
    top: -37px;
}
.am-content {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 151px;
}
.am-block{
    float: left;
    list-style: none;
    position: relative;
    width: 210px;
    margin-left: 1px;
}
.am-block img{
    position: relative;
    z-index: 1;
    max-width: 100%;
    display: block;
    vertical-align: top;
}
.am-text{
    position: absolute;
    top: 0;
    z-index: 3;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
}
.am-text:hover{
    background: rgba(0,0,0,0.1);
    cursor: pointer;
}
.am-text h3{
    font: 11px 'PFDinBold', Arial, sans-serif;
    text-transform: uppercase;
    color: #ff4400;
    padding: 5px 12px;
}
.am-intro{
    font-weight: bold;
    color: #fff;
    position: absolute;
    bottom: -10px;
    width: 90%;
    text-transform: uppercase;
    padding: 3% 5%;
    line-height: 18px;
    font-size: 12px;
    font-family:'PFDinBold', Arial, sans-serif;
}
.am-date{
    font-size: 8px;
    text-transform: uppercase;
    color: #999;
    display: block;
}
.am-prev{
    right: 27px;
    background: #000 url("img2/arrow-left.png") no-repeat center;
}
.am-next{
    right: 0;
    background: #000 url("img2/arrow-right.png") no-repeat center;
}
.am-controls-direction a:hover {
    background: #696969;
}
.column-left{
    width: 350px;
    float: left;
}
.main-match-center{
    position: relative;
    left: 20px;
}
.match-center-header{
     position: absolute;
     top: 0;
     width: 120px;
     right: 0px;
     margin: 0 auto;
     left: 0;
 }
.main-match-center h3{
    color: #ff4400;
    font: 14px/20px 'PFDinBold', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    border-bottom: 2px solid #ff4400;
    padding: 0 0 5px;
    font-weight: bold;
}
.match-table{
    width: 100%;
    border: 1px solid #e4e4e4;
    margin-top: -5px;
    border-collapse: collapse;
    border-spacing: 0;
}
.match-table tr{
     border-top: 1px solid #e4e4e4;
}
.match-table tr:nth-child(odd) {
    background: #f9f9f9;
}
.match-table th{
    padding: 0 0 4px 0;
}
.table-match-header{
    color: #ff4400;
    padding-top: 0;
    font: 12px/14px 'PFDinBold', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    margin-top: 10px;
}
.table-match-time {
    font: 10px/14px 'PFDinRegular', Arial, sans-serif;
    text-transform: uppercase;
    padding-top: 2px;
    margin-top: -10px;
    margin-bottom: 2px;
}
.main-match1, .main-match3{
    background: #fff;
}
.mm-time{
    width: 48px;
    text-align: center;
    font-size: 11px;
    line-height: 14px;
    padding: 5px 0 5px;
    vertical-align: middle;
    color: #333;
}
.mm-left-team{
    width: 37%;
    text-align: right;
    font-size: 11px;
    line-height: 14px;
    padding: 5px 0 5px;
    vertical-align: middle;
    color: #333;
    font-family: 'PFDinRegular', Arial, sans-serif;
}
.match-table tr a{
    text-decoration: none;
    color: #333;
}
.match-table tr a:hover{
    text-decoration: underline;
}
.mm-score {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    width: 30px;
    position: relative;
    line-height: 14px;
    padding: 5px 0 5px;
    vertical-align: middle;
    color: #333;
}
.mm-right-team {
    font-size: 11px;
    line-height: 14px;
    padding: 5px 0 5px;
    vertical-align: middle;
    color: #333;
    font-family: 'PFDinRegular', Arial, sans-serif;
}
.all-match-center{
    position: relative;
    left: 20px;
}
.all-match-center h3{
    color: #1e8618;
    font: 14px/20px 'PFDinBold', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    border-bottom: 2px solid #1e8618;
    padding: 0 0 5px;
    font-weight: bold;
}
.all-match-header{
    color: #1e8618;
    padding-top: 0;
    font: 12px/14px 'PFDinBold', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .5px;
    font-weight: bold;
    margin-top: 10px;
}
.mm-controls-direction a {
    position: absolute;
    width: 23px;
    height: 20px;
    top: 6px;
}
.mm-prev{
    right: 27px;
    background: #1E8618 url("img2/arrow-left.png") no-repeat center;
}
.mm-next{
    right: 0;
    background: #1E8618 url("img2/arrow-right.png") no-repeat center;
}
.mm-controls-direction a:hover {
    background: #90EE90;
}
.tournaments-table{
    position: relative;
}
.tournaments-table h3{
    font: 14px/20px 'PFDinBold', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    border-bottom: 2px solid #000;
    padding: 0 0 5px;
    margin-left: 20px;
    font-weight: bold;
    width: 100%;
}
.tournaments-table-content{
    width: 100%;
    border: 1px solid #e4e4e4;
    margin-top: 9px;
    border-collapse: collapse;
    border-spacing: 0;
    margin-left: 20px;
}
.tournaments-table-content tr:first-child {
    background: #ebebeb;
}
.tournaments-table th {
    padding: 7px 0 3px;
    vertical-align: middle;
    font: 10px/14px 'PFDinBold', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
.tt-num{
    width: 25px;
    text-align: center;
}
.tt-date{
    width: 230px;
}
.tt-games{
    width: 35px;
    text-align: center;
}
.tt-score{
    width: 35px;
    text-align: center;
}
.tournaments-table td:first-child {
    width: 25px;
    text-align: center;
}
.tournaments-table td {
    font-size: 11px;
    height: 23px;
    vertical-align: middle;
    border-top: 1px solid #e4e4e4;
}
.tournaments-table .tt-team span {
    display: inline-block;
    width: 25px;
    text-align: center;
    margin: 0 3px;
    vertical-align: middle;
}
.tournaments-table a{
    text-decoration: none;
    color: #000;
    text-align: center;
}
.tt-team{
    font-size: 11px;
    line-height: 14px;
    padding: 5px 0 0px;
    vertical-align: middle;
    color: #333;
    font-family: 'PFDinRegular', Arial, sans-serif;
}
.tt-team a {
    font-size: 11px;
    vertical-align: middle;
    font-family: 'PFDinRegular', Arial, sans-serif;
}
.table-detail{
    font-size: 10px;
    line-height: 32px;
    color: #333;
    font-family: 'PFDinRegular', Arial, sans-serif;
    text-decoration: underline;
    margin-right: -20px;
    margin-top: -2px;
    float: right;
}
.table-detail:hover{
    text-decoration: none;
}
.banner2{
    width: 350px;
}
.banner-advertisement2{
}
.adv-item1, .adv-item2, .adv-item3, .adv-item4{
    height: 67px;
}
.adv-img1{
    float: left;
    margin-left: 30px;
    padding-right: 5px;
}
.adv-text1{
    font-family: Arial;
    font-size: 14px;
    color: #222222;
}
.adv-img2{
    float: left;
    margin-left: 30px;
}
.adv-text2{
    font-family: Arial;
    font-size: 14px;
    color: #222222;
}
.adv-img3{
    float: left;
    margin-left: 30px;
    padding-right: 5px;
}
.adv-text3{
    font-family: Arial;
    font-size: 14px;
    color: #222222;
}
.adv-img4{
    float: left;
    margin-left: 30px;
    padding-right: 5px;
}
.adv-text4{
    font-family: Arial;
    font-size: 14px;
    color: #222222;
}
.football-acount{
    margin-left: 20px;
}









