body {
    background: url("img2/bg-body.jpg");
    min-width: 1110px;
}

.header {
    width: 1090px;
    border: solid 1px #DCDCDC;
    height: 81px;
    background-color: white;
    margin: 124px auto 0;
}

.wrap{
    width: 1090px;
    border: solid 1px #dcdcdc;
    height: 100%;
    background-color: white;
    margin: 20px auto;
}

.logo {
    margin: 20px 10px;
    float: left;
}

.social-icons {
    float: left;
    margin: 7px 3px;
}

.social-icons ul {
    list-style: none;
}

.icons-list li {
    background: url("img2/social.png") no-repeat;
    display: inline-block;
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.icons-list .fb-icon {
    background-position: 0 -66px;
}

.icons-list .vk-icon {
    background-position: 0 -462px;
}

.icons-list .tw-icon {
    background-position: 0 -330px;
}

.icons-list .wi-fi {
    background-position: 0 -198px;
}

.icons-list .fb-icon:hover {
    background: url("img2/social.png") no-repeat;
}

.icons-list .vk-icon:hover {
    background-position: 0 -397px;
}

.icons-list .tw-icon:hover {
    background-position: 0 -265px;
}

.icons-list .wi-fi:hover {
    background-position: 0 -131px;
}

.header-advertisement {
    float: left;
    margin-top: 20px;
    margin-left: 52px;
}

.search {
    float: left;
    vertical-align: middle;
    margin: 17px 72px;
}

.input-search-form {
    display: block;
    border: none;
    position: absolute;
    height: 21px;
    border-radius: 13px;
    width: 193px;
    background-color: #ececec;
}

.input-form a {
    color: #c1bfbf;
    font-size: 15px;
    position: relative;
    display: block;
    left: 171px;
    top: 4px;
}

.register-block {
    color: blue;
    float: right;
    margin: 20px 10px;
}

.enter-list {
    font-size: 11px;
    font-family: Arial sans-serif;
    list-style: none;
    margin: 3px 10px;
}

.enter-list li {
    font-family: Arial, sans-serif;
    font-size: 11px;
    display: inline-block;
    padding-left: 12px;
    border-left: 1px solid #267cb9;
    line-height: 12px;
    margin-left: 8px;
}

.enter-list li:first-child {
    border-left: none;
    padding-left: 0;
}

.register-block {
    font-size: 11px;
    font-family: Arial, sans-serif;
}

.register-block a {
    color: #267cb9;
}

.register-block a:hover {
    text-decoration: none;
}

.navigation {
    height: 32px;
    background-color: #000;
    color: #fff;
    border-bottom: 3px solid #188a19;
}

.navigation > ul {
    padding-left: 10px;
    padding-right: 19px;
    margin: 0;
    position: relative;
}

.navigation > ul > li {
    float: left;
    list-style-type: none;
}

.navigation-link {
    color: white;
    text-decoration: none;
    display: block;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
    font-family: 'PFDinBold', Arial, sans-serif;;
    letter-spacing: 1px;
    background: url("img2/nav-line.png") no-repeat right 11px;
    padding: 0 22px 0 10px;
}

.navigation-link:hover {
    color: #32CD32;
}
.isport-logo{
    padding: 0;
    display: block;
    position: absolute;
    background: url("img2/isport-logo.png") no-repeat;
    width: 182px;
    height: 32px;
    right: 0;
    top: 0;
}

.navigation > ul > li:first-child {
    margin-left: -8px;
}

.navigation a:active {
    color: #32CD32;
}

.clear {
    clear: both;
}

.side-bar {
    float: left;
    font: 12px/20px 'PFDinRegular', Arial, sans-serif;
    width: 110px;
    letter-spacing: .7px;
    margin-bottom: 10px;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    display: block;
    text-decoration: none;
    border: 1px solid #DCDCDC;
    width: 94px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    padding: 8px 7px;
    line-height: 16px;
    background: #fdfdfd;
    letter-spacing: .7px;
    color: black;
    margin-left: -30px;
    margin-top: -2px;
}
.menu-separator{
    height: 10px;
    border: none;
    padding: 0;
}

.menu li a:hover {
    color: #32CD32;
    text-decoration: underline;
}

.club-icons {
    margin: 10px 20px;
}

.club-icons a {
    padding: 10px;
}

.main {
    float: left;
    width: 950px;
    padding-bottom: 40px;
    position: relative;
}
.main-left{
    width: 675px;
    float: left;
}
.col-left{
    width: 350px;
    float: left;
}
.main-content{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: top;
}
.main-photo {
    background: url("img2/photo1.jpg") center no-repeat;
    width: 350px;
    height: 250px;
    color: #ccc;
    font-size: 11px;
    margin-left: 20px;
}

.main-photo-p {
    width: 100%;
    height: 90%;
}

.main-p {
    opacity: 0.7;
    width: 100%;
    height: 10%;
    background-color: #000;
    text-align: center;
    line-height: 20px;
}

.main-news-current{
    width: 330px;
    height: 100px;
    text-decoration: none;
    background: #020202;
    color: white;
    border-bottom: 0;
    padding: 7px 10px 12px;
    margin-left: 20px;

}
.main-news-current h2 {
    color: white;
    font-family:'PFDinBold', Arial, sans-serif;
    font-size: 19px;
    letter-spacing: 1px;
    margin: 0;
}

.main-news-current p {
    color: #a9a9a9;
    font-family: Arial sans-serif;
    font-size: 15px;
    margin-top: 10px;
}

.main-news{
    width: 350px;
    height: 75px;
    border-bottom: 1px solid black;
    margin-left: 20px;
}

.main-news h2 {
    font-family: 'PFDinBold', Arial, sans-serif;;
    font-size: 19px;
    margin: 10px;
    color: #2f3033;
}
.main-news-lower {
    height: 55px;
}
.col-right{
    width: 270px;
    float: right;
    margin: -10px 20px;
}
.col-right h2{
    color: #1e8618;
    display: block;
    font: 15px/20px 'PFDinBold', Arial, sans-serif;
    letter-spacing: 0.6px;
    border-bottom: 2px solid  #1e8618;;
    padding: 0 0 5px;
    font-weight: bold;
}
.wifi-icon{
    display: block;
    width: 9px;
    height: 9px;
    background: url("img2/wifi-icon.png") no-repeat;
    float: right;
    margin-top: -35px;
}
.col-right li{
    font-size: 13px;
    padding: 13px 0 13px;
    border-bottom: 1px dotted #cecece;
    line-height: 16px;
    color: #333;
    list-style: none;
    font-family: 'PFDinBold', Arial, sans-serif;
}
.col-right a{
    text-decoration: none;
    color: #333;
}
.col-right a:hover{
    text-decoration: underline;
}
.rightnews-list{
    margin: -10px -40px;
}


