body {
    background: url("img2/bg-body.jpg");
    min-width: 1110px;
}

.header {
    width: 1090px;
    border: solid 1px #DCDCDC;
    height: 81px;
    background-color: white;
    margin: 124px auto;
    margin-bottom: 0;
}

.logo {
    margin: 20px 10px;
}
.social-icons{
    margin: -40px 202px;
}
.social-icons ul{
    list-style: none;
}
.icons-list li{
    background: url("img2/social.png") no-repeat;
    display: inline-block;
    width: 17px;
    height: 17px;
    cursor: pointer;
}
.icons-list .fb-icon{
    background-position: 0 -66px;
}
.icons-list .vk-icon{
    background-position: 0 -462px;
}
.icons-list .tw-icon{
    background-position: 0 -330px;
}
.icons-list .wi-fi{
    background-position: 0 -198px;
}
.icons-list .fb-icon:hover{
    background: url("img2/social.png") no-repeat;
}
.icons-list .vk-icon:hover{
    background-position: 0 -397px;
}
.icons-list .tw-icon:hover{
    background-position: 0 -265px;
}
.icons-list .wi-fi:hover{
    background-position: 0 -131px;
}
.search {
    margin: 0 570px;
}

.input-search-form {
    display: block;
    border: none;
    position: absolute;
    height: 21px;
    border-radius: 13px;
    width: 193px;
    background-color: #ececec;
    margin-top: -4px;
}

.input-form a{
    color: #c1bfbf;
    font-size: 15px;
    position: relative;
    display: block;
    left: 171px;
    top: 0px;
}
.register{
    color: blue;
}
.enter-block {
    margin: -17px 951px;
    font-size: 11px;
    font-family: Arial sans-serif;
}
.enter-block a{
    font-family: Arial, sans-serif;
    font-size: 11px;
}
.register p{
    display: block;
    margin: -16px 992px;
    color: #3783af;
    font-family: Arial, sans-serif;
    font-size: 13px;
}
.register-block {
    margin: 5px 1006px;
    font-size: 11px;
    font-family: Arial, sans-serif;
}

.register a {
    color: #3783af;
}

.register a:hover {
    text-decoration: none;
}

.navigation {
    height: 32px;
    background-color: #000;
    margin-top: 7px;
    color: #fff;
    border-bottom: 3px solid #188a19;
    clear: both;
}

.navigation > ul {
    height: 32px;
    padding-left: 10px;
    padding-right: 19px;
}

.navigation > ul > li {
    float: left;
    list-style-type: none;
}

.navigation > ul > li > a {
    color: white;
    text-decoration: none;
    display: block;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
    font-family: Arial;
    padding: 0 7px 0 6px;
    letter-spacing: 1px;
    background: url("img2/nav-line.png") no-repeat right 11px;
    padding-left: 10px;
    padding-right: 22px;
}
.navigation > ul> li > a > img{
    display: block;
    margin: -35px 890px;
}
.navigation > ul > li:first-child{
    margin-left: -8px;
}
.navigation > ul > li:last-child {
    border-right: none;
}

.navigation > ul > li > a:hover {
    color: #32CD32;
}

.navigation a:active {
    color: #32CD32;
}

.category {
    float: left;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    border: 1px solid #DCDCDC;
    line-height: 14px;
    width: 100px;
    color: black;
    font-size: 14px;
    font-family: Arial;
    margin-left: -20px;
}

.menu li a:hover {
    color: #32CD32;
    text-decoration: underline;
}

.club-icons {
    /*float: left;*/
    margin: 20px;
}

.club-icons a {
    padding: 10px;
}

.main {
    margin: 80px 160px;
}

.main-photo {
    background: url("img2/photo1.jpg") center no-repeat;
    width: 350px;
    height: 250px;
    color: #ccc;
    font-size: 11px;
}

.main-photo-p {
    width: 100%;
    height: 90%;
}

.main-p {
    opacity: 0.7;
    width: 100%;
    height: 10%;
    background-color: #000;
    text-align: center;
    line-height: 20px;
}

.main-news1 {
    background: #000;
    width: 350px;
    height: 100px;
    border-top: 2px solid #a9a9a9;
    text-decoration: none;
}

.main-news1 h2 {
    color: white;
    font-family: Arial sans-serif;
    font-size: 17px;
    letter-spacing: 1px;
    margin: 10px;
}

.main-news1 p {
    color: #a9a9a9;
    font-family: Arial sans-serif;
    font-size: 12px;
    margin: 10px;
}

.main-news2 {
    width: 350px;
    height: 75px;
    border-bottom: 1px solid black;
}

.main-news2 h2 {
    font-family: Arial sans-serif;
    font-size: 17px;
    margin: 10px;
    color: #2f3033;
}

.main-news3 {
    width: 350px;
    height: 55px;
    border-bottom: 1px solid black;
}

.main-news3 h2 {
    font-family: Arial sans-serif;
    font-size: 17px;
    margin: 10px;
    color: #2f3033;
}

.main-news4 {
    width: 350px;
    height: 55px;
    border-bottom: 1px solid black;
}

.main-news {
    width: 350px;
    height: 55px;
    border-bottom: 1px solid black;
}

.main-news-higher {
    height: 75px;
}

.main-news4 h2 {
    font-family: Arial sans-serif;
    font-size: 17px;
    margin: 10px;
    color: #2f3033;
}

.content {
}

.clear {
    clear: both;
}

